{% extends 'base.html.twig' %}

{% block body %}
    {% if isTurn==0 %}
        <h1>Attente de votre tour</h1>
    {% elseif isTurn==1 %}
        <h1>Jeu</h1>
    {% elseif isTurn==-1 %}
        <h1>Fin de partie</h1>
    {% else %}
        <h1>Attente de début</h1>
    {% endif %}
{% endblock %}
