{% extends 'base.html.twig' %}
{% block body %}
<div class="hide-on-med-and-up">
    <div class="homePage">
        <div class="row">
            <div class="col lg12 hero">
                        <span><img src="{{ asset('img/heroS5.png') }}">
                        <img src="{{ asset('img/heroIphone.png') }}"></span>

            </div>
        </div>
    </div>
</div>
{% endblock %}