body{
    background-color: rgba(0, 0, 0, 0.05);
}

nav{
    box-shadow: none;
    background-color: inherit;
    height: 40px;
    margin-bottom: 100px;
}

.card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white;
}
.card .card-image{
    width: 100%;
}

.card-title{
    color: white;
    background-color: #66FFCC;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-action div{
    background-color: white;
    margin: 1px;

}

.card .card-content{
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;

}

.card-content h3 {
    color: black !important;
}

.questionImg {
    background-color: black;
    padding: 0;
    margin-bottom: 20px;
}

.btnReponse {
    padding-bottom: 20px;
}

.carte {
    margin-bottom: 20px;
}

.marginBottom {
    margin-bottom: 20px;
    margin-top: -85px;
}

.iconeNoire {
    color: black;
}

.carteFond {
    background-color: rgb(255, 255, 255);
}