body{
    background-color: black;
}

nav{
    box-shadow: none;
    background-color: inherit;
    height: 40px;
    margin-bottom: 100px;
}

.card{
    background-color: rgba(0,0,0,0.6) !important;
    color: white;
}

.card-title{
    color: white;
    background-color: #00acc1;
}
